.btn {
  display: inline-block;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: $button-line-height;
  text-transform: $button-text-transform;
  padding-right: $button-padding-horizontal;
  padding-left: $button-padding-horizontal;
  padding-bottom: $button-padding-vertical;
  padding-top: $button-padding-vertical;
  border-radius: $button-border-radius;
  letter-spacing: $button-letter-spacing;
  border: 0;
  text-align: center;
  background-color: $form-control-bg;
  color: $form-control-color;
  transition: $form-control-transition;

  &:hover {
    text-decoration: underline;
  }

  &[disabled] {
    color: $color-ui-medium;

    &:hover  {
      text-decoration: none;
    }
  }
}