html {
  font-size:  62.5%;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: $body1-font-size;
  font-weight: $body1-font-weight;
  font-family: $base-font-family;
  line-height: $body1-line-height;
  letter-spacing: $body1-letter-spacing;
  font-feature-settings: $base-font-features;
  color: $color-ui-default;
}

a {
  text-decoration: underline;
  color: $color-ui-action;
  transition: $form-control-transition;

  &:hover {
    color: $color-ui-light;
  }
}

strong {
  font-weight: $font-weight-bold;
}

::selection {
  background: $color-ui-medium;
  color: $color-ui-white;
}

//
// Headings
//

h1, .h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  font-weight: $h1-font-weight;
  margin-bottom: $h1-margin-bottom;
  letter-spacing: $h1-letter-spacing;
  color: $h1-color;

  @include media("<lg") {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
    font-weight: $h2-font-weight;
    margin-bottom: $h2-margin-bottom;
    letter-spacing: $h2-letter-spacing;
  }
}

h2, .h2 { font-size: $h2-font-size; line-height: $h2-line-height; font-weight: $h2-font-weight; margin-bottom: $h2-margin-bottom; letter-spacing: $h2-letter-spacing; color: $h2-color; }
h3, .h3 { font-size: $h3-font-size; line-height: $h3-line-height; font-weight: $h3-font-weight; margin-bottom: $h3-margin-bottom; letter-spacing: $h3-letter-spacing; color: $h3-color; }
h4, .h4 { font-size: $h4-font-size; line-height: $h4-line-height; font-weight: $h4-font-weight; margin-bottom: $h4-margin-bottom; letter-spacing: $h4-letter-spacing; }
h5, .h5 { font-size: $h5-font-size; line-height: $h5-line-height; font-weight: $h5-font-weight; margin-bottom: $h5-margin-bottom; letter-spacing: $h5-letter-spacing; }
h6, .h6 { font-size: $h6-font-size; line-height: $h6-line-height; font-weight: $h6-font-weight; margin-bottom: $h6-margin-bottom; letter-spacing: $h6-letter-spacing; }


//
// Paragraphs
//

p, .p {
  font-size: $body1-font-size;
  line-height: $body1-line-height;
  font-weight: $body1-font-weight;
  margin-bottom: $body1-margin-bottom;
  letter-spacing: $body1-letter-spacing;

  + p, + .p {
    text-indent: $grid-gutter;
  }
}

small, .small {
  font-size: $body2-font-size;
  line-height: $body2-line-height;
  font-weight: $body2-font-weight;
  margin-bottom: $body2-margin-bottom;
  letter-spacing: $body2-letter-spacing;
}

.caption {
  font-size: $caption-font-size;
  line-height: $caption-line-height;
  font-weight: $caption-font-weight;
  margin-bottom: $caption-margin-bottom;
  letter-spacing: $caption-letter-spacing;
}

em {
  font-style: italic;
}


//
// Lists
//

ul, ol {
  margin-bottom: $body1-margin-bottom;
  list-style-position: outside;
  padding-left: $body1-font-size;

  ul, ol {
    margin-bottom: 0;
  }
}

ul {
  list-style: disc;

  ul {
    list-style: square;
  }
}

ol {
  list-style: decimal;
}

.content {
  ol {
    list-style-type: decimal;
    counter-reset: item;

    li{
      display: block;

      &:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
      }

      h2, h3, h4, h5, h6 {
        display: inline-block;
        font-size: $body1-font-size;
        font-weight: $body1-font-weight;
      }
    }
  }
}


//
// Horizontal rule
//

hr {
  height: 0;
  border: none;
  border-bottom: 1px solid $color-ui-medium;
  margin-top: $section-padding-top;
  margin-bottom: $section-padding-bottom;

  @include media(">md") {
    margin-top: $section-padding-top-lg;
    margin-bottom: $section-padding-bottom-lg;
  }
}


//
// Text Helpers
//

.text-center {
  text-align: center;
}

.text-monospace {
  font-family: $monospace-font-family;
  font-feature-settings: $monospace-font-features;
}


//
// Reveal effects
//

[data-scroll] {
  transition: opacity 1s ease;
  transition-delay: 0.2s;
  opacity: 0;
}

.scroll-hidden {
  opacity: 0;
}

.scroll-visible {
  opacity: 1;
}