<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ $.Param "meta.description" }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ .Site.Params.title }} &ndash; {{ $.Param "long_title" }}</title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
</head>

<body>

  {{ partial "header.html" . }}

  <main>

    <section class="hero">
      <div class="container">
        <div class="row">
          <div class="col col-lg-7">
            <h1 data-scroll="once">{{ $.Param "content.sections.hero.headline" }}</h1>
          </div>
        </div>
      </div>
      <div class="scroll-detector" data-scroll="toggle(.section-visible, .section-hidden)" data-scroll-showCallback="updateArt(0.7,0.5)" data-scroll-hideCallback="hideLatest()"></div>
      <img src="/img/art/globe.png" alt="art" class="art">
      <a href="/pr/central-bank-of-the-bahamas" class="latest">
        <div class="thumb">
          <div class="thumb-1x"
            style="background-image:url(/img/latest/{{ $.Param "content.sections.hero.latest.thumbnail" }}.jpg);"></div>
          <div class="thumb-2x"
            style="background-image:url(/img/latest/{{ $.Param "content.sections.hero.latest.thumbnail" }}@2x.jpg);"></div>
        </div>
        <span>{{ $.Param "content.sections.hero.latest.headline" }}</span>
      </a>
    </section>

    <section class="tomorrows-currency snap">
      <div class="ghost">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col col-lg-5">
            <h2 data-scroll="once">{{ $.Param "content.sections.tomorrows_currency.headline" | safeHTML }}</h2>
            <p class="feature-description" data-scroll="once">{{ (index .Params.content.sections.tomorrows_currency.features 0).description }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex">
            <div class="features">
              {{ range $feature := $.Param "content.sections.tomorrows_currency.features" }}
              <div data-description="{{ $feature.description }}">
                {{ $feature.label }}
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-detector" data-scroll="toggle(.section-visible, .section-hidden)" data-scroll-showCallback="updateArt(0.5,0.5)"></div>
      <img src="/img/art/web.png" alt="art" class="art">
    </section>

    <section class="people-first">
      <div class="container">
        <div class="row spb1">
          <div class="col col-lg-5">
            <h2 data-scroll="once">{{ $.Param "content.sections.people_first.headline" }}</h2>
            <p data-scroll="once">{{ $.Param "content.sections.people_first.description" }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-3 offset-lg-5">
            <h3 data-scroll="once">{{ $.Param "content.sections.people_first.core_principles.headline" }}</h3>
          </div>
          <div class="col col-lg-4">
            {{ range $principle := $.Param "content.sections.people_first.core_principles.principles" }}
            <div class="principle">
              <h4 class="h5" data-scroll="once">{{ $principle.headline }}</h4>
              <p data-scroll="once">{{ $principle.subhead }}</p>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="scroll-detector" data-scroll="toggle(.section-visible, .section-hidden)" data-scroll-showCallback="updateArt(0.4,0.6)"></div>
      <img src="/img/art/people.png" alt="art" class="art">
    </section>

    <section class="inclusive-architecture">
      <div class="container">
        <div class="row">
          <div class="col col-lg-5">
            <h2 data-scroll="once">{{ $.Param "content.sections.inclusive_architecture.headline" }}</h2>
            {{ $.Param "content.sections.inclusive_architecture.body1" | safeHTML }}
          </div>
          <div class="col col-lg-6 offset-lg-1 d-flex">
            <img src="/img/{{ $.Param "content.sections.inclusive_architecture.image.x1" }}" srcset="/img/{{ $.Param "content.sections.inclusive_architecture.image.x1" }} 1x, /img/{{ $.Param "content.sections.inclusive_architecture.image.x2" }} 2x" alt="{{ $.Param "content.sections.inclusive_architecture.image.alt" }}" class="inclusive-image mtg1" data-scroll="once">
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-5 offset-lg-1 d-flex">
            <div class="architecture-diagram mvg1" data-scroll="once">
              <div class="architecture-layer">
                {{ $.Param "content.sections.inclusive_architecture.diagram.layer1" }}
              </div>
              <div class="architecture-layer">
                {{ $.Param "content.sections.inclusive_architecture.diagram.layer2" }}
              </div>
              <div class="architecture-layer">
                {{ $.Param "content.sections.inclusive_architecture.diagram.layer3" }}
              </div>
            </div>
          </div>
          <div class="col col-lg-5 offset-lg-1">
            {{ $.Param "content.sections.inclusive_architecture.body2" | safeHTML }}
          </div>
      </div>
      <div class="scroll-detector" data-scroll="toggle(.section-visible, .section-hidden)" data-scroll-showCallback="hideArt()"></div>
    </section>

    <section class="alices-story">
      <div class="container">
        <div class="row">
          <div class="col col-lg-6 offset-lg-3 text-center">
            <h2 data-scroll="once">{{ $.Param "content.sections.alices_story.headline" }}</h2>
            <p data-scroll="once">{{ $.Param "content.sections.alices_story.subhead" }}</p>
          </div>
        </div>
        
        <div class="story" data-scroll data-scroll-showCallback="startStory()">
          {{ range $slide := $.Param "content.sections.alices_story.slides" }}
          <div>
            <div class="row">
              <div class="story-image col col-lg-5 offset-lg-1 mbg1">
                <img src="/img/story/{{ $slide.image }}.png" srcset="/img/story/{{ $slide.image }}.png 1x, /img/story/{{ $slide.image }}@2x.png 2x" alt="{{ $slide.image_alt }}">
              </div>
              <div class="story-text col col-lg-4 offset-lg-1">
                {{ $slide.body }}
              </div>
            </div>
          </div>
          {{ end }}
        </div>

        <div class="sticky-bottom">
          <div class="row">
            <div class="story-dots col col-lg-4 offset-lg-7">
            </div>
          </div>
        </div>
       
      </div>
      <div class="scroll-detector" data-scroll="toggle(.section-visible, .section-hidden)" data-scroll-showCallback="hideArt()"></div>
      <!-- <img src="/img/art/empty.png" alt="art" class="art"> -->
    </section>

    <section class="about-nzia">
      <div class="container">
        <div class="row spb1">
          <div class="col col-lg-5 offset-lg-6">
            <h2 data-scroll="once">{{ $.Param "content.sections.about_nzia.headline" }}</h2>
            {{ $.Param "content.sections.about_nzia.body" | safeHTML }}
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-8 offset-lg-2">
            <h3>{{ $.Param "content.sections.about_nzia.team.headline" }}</h3>
            <div class="row">
              {{ range $member := $.Param "content.sections.about_nzia.team.members" }}
              <div class="team-member col col-lg-6">
                <div class="row">
                  <div class="col col-lg-3">
                    <img src="/img/team/{{ $member.image }}.jpg"
                      srcset="/img/team/{{ $member.image }}.jpg 1x, /img/team/{{ $member.image }}@2x.jpg 2x"
                      alt="{{ $member.name }}’s thumbnail">
                  </div>
                  <div class="col col-lg-9">
                    <h4 class="h5">{{ $member.name }}</h4>
                    <small>{{ $member.title }}</small>
                    <p>{{ $member.description }}</p>
                  </div>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-detector" data-scroll="toggle(.section-visible, .section-hidden)" data-scroll-showCallback="updateArt(0.4,0.5)"></div>
      <img src="/img/art/map.png" alt="art" class="art">
    </section>

    <section class="get-in-touch">
      <div class="container">
        <div class="row">
          <div class="col col-lg-6 offset-lg-6">
            <h2 data-scroll="once">{{ $.Param "content.sections.get_in_touch.headline" }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-5">
            <form data-scroll="once" action="https://formkeep.com/f/459e1f2108d2" id="contact-form" accept-charset="UTF-8" enctype="multipart/form-data" method="POST">
              <input type="hidden" name="utf8" value="✓">
              <div class="form-field">
                <input name="name" type="text"  placeholder="{{ $.Param "content.sections.get_in_touch.form.fields.name" }}" required>
              </div>
              <div class="form-field">
                <input name="email" type="email" placeholder="{{ $.Param "content.sections.get_in_touch.form.fields.email" }}" required>
              </div>
              <div class="form-field">
                <input name="organization" type="text" placeholder="{{ $.Param "content.sections.get_in_touch.form.fields.organization" }}" required>
              </div>
              <div class="form-field">
                <textarea rows="5" name="whats_up" placeholder="{{ $.Param "content.sections.get_in_touch.form.fields.whats_up" }}" required></textarea>
              </div>
              <div class="form-footer">
                <div class="form-helper">
                  {{ $.Param "content.sections.get_in_touch.form.required" }}
                </div>
                <div>
                  <button type="submit" class="btn">{{ $.Param "content.sections.get_in_touch.form.button" }}</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col col-lg-6 offset-lg-1">
            <p class="mbg1" data-scroll="once">{{ $.Param "content.sections.get_in_touch.subhead" }}</p>
            <a href="mailto:{{ $.Param "content.sections.get_in_touch.email" }}" class="h5" data-scroll="once">{{ $.Param "content.sections.get_in_touch.email" }}</a>
          </div>
        </div>
      </div>
      <div class="scroll-detector" data-scroll="toggle(.section-visible, .section-hidden)" data-scroll-showCallback="updateArt(0.6,0.7)"></div>
      <img src="/img/art/talktous.png" alt="art" class="art">
    </section>

  </main>

  {{ partial "footer.html" . }}

  <div class="swarm"></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {{ $scrollify := resources.Get "js/jquery.scrollify.js" }}
  {{ $scrolltrigger := resources.Get "js/ScrollTrigger.min.js" }}
  {{ $slick := resources.Get "js/slick.min.js" }}
  {{ $swarm := resources.Get "js/swarm.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $js := slice $scrollify $scrolltrigger $slick $swarm $main | resources.Concat "js/bundle.js" | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" type="text/javascript"></script>
  {{ template "_internal/google_analytics_async.html" . }}
</body>

</html>